<!DOCTYPE html>
{% extends 'home.html' %} {% load static %} {% block content %}
<div class="col col-body">
  <div class="col-md-3 col-right">
    <div class="panel action-panel">
      <a href="{% url 'sender:create_mail' %}" class="btn action-btn">
        <span>Создать рассылку</span>
      </a>
      <a href="{% url 'sender:all_mail' %}" class="btn action-btn">
        <span>Мои рассылки</span>
      </a>
      <a href="#" class="btn action-btn" disabled="">
        <span>Загрузить подписчиков</span>
      </a>
    </div>
  </div>
  <div class="col-md-9 col-left">
    <div class="col panel user-panel">
      <div class="col-md-3 col-img">
        {% if account.avatar %}
        <img class="img-avatar" src="{{ account.avatar.url }}" alt="avatar" />
        {% else %}
        <img
          class="img-avatar"
          src="{% static 'any/no_photo.jpg' %}"
          alt="avatar"
        />
        {% endif %}
        <label for="files" class="btn btn-label">Изменить аватар</label>
        <input id="files" style="visibility: hidden" type="file" disabled />
      </div>
      <div class="col-md-5 col-data">
        <p>
          <span
            >{{ account.user.last_name }} {{ account.user.first_name }}</span
          >
        </p>
        <p>
          <span>Email: {{ account.user.email }}</span>
        </p>
        <p>
          <span>Дата рождения: {{ account.birthday|date:"d.m.Y" }} года</span>
        </p>
        <p style="color: black">Статус: {{ account.get_state_display }}</p>
      </div>
      <div class="col-md-4 col-owners">
        <div id="community-navs" class="community-navigations">
          <ul class="nav nav-tabs" role="tablist">
            {% if account.state == 'o' %}
            <li class="nav-item">
              <a class="nav-link active" href="#"> Мои подписчики </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="#"> Мои подписки </a>
            </li>
            <li class="nav-item">
              <a class="nav-link all-item" href="#"> Все подписки </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="community-content-box all-community" style="display: none">
          {% for acc in community %}
          <div class="community-item">
            <span>{{ acc.user.last_name }} {{ acc.user.first_name }}</span>
            <a
              class="add-subscriber"
              href="{% url 'accounts:create_subscriber' pk=acc.user.id %}"
              data-toggle="tooltip"
              title="Подписаться"
            >
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="community-content-box my-community">
          {% if subscriber_community %} {% for resp in subscriber_community %}
          <div class="community-item">
            <span>{{ resp.owner.last_name }} {{ resp.owner.first_name }}</span>
            <a
              class="delete-subscriber"
              href="{% url 'accounts:delete_subscriber' pk=resp.id %}"
              data-toggle="tooltip"
              title="Отписаться"
            >
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>
          {% endfor %} {% else %} {% for resp in owner_community %}
          <div class="community-item">
            <span
              >{{ resp.subscriber.last_name }} {{ resp.subscriber.first_name
              }}</span
            >
            <a
              class="delete-subscriber"
              href="{% url 'accounts:delete_subscriber' pk=resp.id %}"
              data-toggle="tooltip"
              title="Отписаться"
            >
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/AccountCommunity.js' %}"></script>
<script src="{% static 'js/DataToggle.js' %}"></script>
{% endblock %}
